.heading h3{
display:inline;
font-size:20px;
}
.heading button{
    float: right;
    border: 1px solid white;
}
.heading{
    width:100%;
    text-align: left;
}
#big_image{
    width:100%;
}
#play, #status{
    font-size: 25px;
}
h4{
    line-height: 2;
    background: lightblue;
    margin: 0px;
}
.modal-dialog{
    width: 90%;
}
.instruction_image{
    display: inline-block;
    width: 45%;
}
video{
    background: url("game_console.png");
    background-size: cover;
    background-position:center;
    padding:25px;
}